<!DOCTYPE HTML>

<html>
<head>
<title>Red Bee Challenge</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script src="/js/controller.js"></script>
<link rel="stylesheet" type="text/css" href="/css/options.css"
	media="screen" />
</head>
<body>

	<div class="container" ng-app="app">

		<div ng-controller="getcontroller">

			<span ng-init="getfunction()"></span>

			<div ng-controller="postcontroller">
				<form name="customerForm" ng-submit="submitForm()">
					<input type="text" name="hashtag" class="form-control"
						ng-model="hashtag" />
					<button type="submit" class="btn btn-primary">Seguir</button>
				</form>
				<p>{{postResultMessage}}</p>
			</div>

			<div ng-controller="deletecontroller">
				<form name="customerForm" ng-submit="deleteForm()">
					<input type="text" name="hashtagd" class="form-control"
						ng-model="hashtagd" />
					<button type="submit" class="btn btn-primary">Eliminar</button>
				</form>
				<p>{{postResultMessage}}</p>
			</div>


			<div id="wrapper">
				<div id="columns">
					<div class="pin" ng-repeat="d in response">
						<img src="{{d.images.standard_resolution.url}}" />
						<p>
							Hashtag: {{d.tag}}<br/> UserName: {{d.user.username}}<br/>
							FullName: {{d.user.full_name}}<br/> {{d.link}}
						</p>
					</div>
				</div>
			</div>

		</div>


	</div>
</body>
</html>
